// official boost palette
$color-fade-red: #f79e9e;
$color-boost-red: #ea0029;
$color-green: #159191;
$color-fade-green: #8ac8c8;
$color-yellow: #fac934;
$color-fade-yellow: #fce499;
$color-charcoal: #231f20;
$color-grey-g50: #58595b;
$color-grey-g100: #8a8a8c;
$color-grey-g200: #cdcdcd;
$color-grey-g300: #f3f4f4;
$color-grey-g400: #f9f9f9;
$color-pure-white: #ffffff;

// custom boost palette
$color-custom-boost-red-dark: #bd0a0a;
$color-yellow-dark: #ffbb00;
$color-yellow-dark2: #eda521;
$color-yellow-darker: #cc8200;
$color-blue-dark: #336c8a;
$color-blue-darker: #005b8b;
